In [2]:
# Paquetería
# Herramientas matemáticas
import numpy as np

# Lectura de .csv a Dataframes
import pandas as pd

# Herramienta para hacer copias de Dataframes sin conflictos
import copy

# Lectura de vuelos

In [3]:
Vuelos_DF = pd.read_csv('../data/Filghts TEC_Valid.csv')

In [4]:
# Vista inicial de los datos de Vuelos
Vuelos_DF.head()

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings
0,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0
1,efd86c996035dacdca7a0ccb2560dda1,XA-VIX,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2023-07-03 00:55:00,2023-07-03 04:55:00,186,197.0,109.0
2,6cfa1bbaa44f08fc7d3061f034a6a5ce,XA-VBV,AW,AS,MX Amigos y Familia,Ciudad Principal,2024-02-16 17:10:00,2024-02-16 17:55:00,220,NaN,NaN
3,dd0fad3248951d2f71d63e6279aeaa4b,XA-VBW,AW,AS,MX Amigos y Familia,Ciudad Principal,2023-06-26 15:15:00,2023-06-26 15:55:00,220,200.0,142.0
4,d0987ee648eea254063bfe2b39571b67,XA-VAP,BA,AB,Playa,Ciudad Principal,2023-02-10 08:40:00,2023-02-10 09:50:00,186,162.0,90.0

In [5]:
# Nombres de las columnas ¿Con qué datos contamos?
Vuelos_DF.columns

Index(['Flight_ID', 'Aeronave', 'DepartureStation', 'ArrivalStation',
       'Destination_Type', 'Origin_Type', 'STD', 'STA', 'Capacity',
       'Passengers', 'Bookings'],
      dtype='object')

In [6]:
# ¿La base de datos está completa?
Vuelos_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245753 entries, 0 to 245752
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Flight_ID         245753 non-null  object
 1   Aeronave          165363 non-null  object
 2   DepartureStation  245752 non-null  object
 3   ArrivalStation    245752 non-null  object
 4   Destination_Type  245752 non-null  object
 5   Origin_Type       245752 non-null  object
 6   STD               245753 non-null  object
 7   STA               245753 non-null  object
 8   Capacity          245753 non-null  int64
 9   Passengers        122228 non-null  float64
 10  Bookings          122228 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 20.6+ MB

# Exportamos los datos 2023-2025

In [16]:
print('La fecha Departure del primer vuelo en 2023: ',Vuelos_DF['STD'].min())
print('La fecha Arrival del ultimo vuelo en 2025: ',Vuelos_DF['STA'].max())

La fecha Departure del primer vuelo en 2023:  2023-01-02 00:20:00
La fecha Arrival del ultimo vuelo en 2025:  2025-02-28 07:35:00

In [17]:
# Creamos una copia en Vuelos_v1.csv del dataset original
Vuelos_DF.to_csv('../output/Vuelos_v1.csv',index=False)

# Datos 2023

In [7]:
# Separamos los vuelos en 2023
Vuelos_2023 = Vuelos_DF[(Vuelos_DF['Passengers'].notnull()) | (Vuelos_DF['Bookings'].notnull())]
Vuelos_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 122228 entries, 0 to 245750
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Flight_ID         122228 non-null  object
 1   Aeronave          121726 non-null  object
 2   DepartureStation  122227 non-null  object
 3   ArrivalStation    122227 non-null  object
 4   Destination_Type  122227 non-null  object
 5   Origin_Type       122227 non-null  object
 6   STD               122228 non-null  object
 7   STA               122228 non-null  object
 8   Capacity          122228 non-null  int64
 9   Passengers        122228 non-null  float64
 10  Bookings          122228 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 11.2+ MB

In [8]:
print('La fecha Departure del primer vuelo en 2023: ',Vuelos_2023['STD'].min())
print('La fecha Departure del último vuelo en 2023: ',Vuelos_2023['STD'].max())
print('La fecha Arrival del primer vuelo en 2023: ',Vuelos_2023['STA'].min())
print('La fecha Arrival del último vuelo en 2023: ',Vuelos_2023['STA'].max())

La fecha Departure del primer vuelo en 2023:  2023-01-02 00:20:00
La fecha Departure del último vuelo en 2023:  2023-12-31 23:50:00
La fecha Arrival del primer vuelo en 2023:  2023-01-02 02:45:00
La fecha Arrival del último vuelo en 2023:  2024-01-01 05:15:00

In [13]:
# ¿Hay sobreventa de vuelos?
# Exploramos cuántos de los datos tienen más pasajeros que capacidad
len(Vuelos_2023[Vuelos_2023['Passengers'] > Vuelos_2023['Capacity'] ])

30583

Ya que sí hay sobreventa hay que transformar esta columna de datos

# Datos 2024-2025

In [9]:
# Vuelos en 2024 y 2024 no tienen pasajeros ni reservas
Vuelos_2425 = Vuelos_DF[(Vuelos_DF['Passengers'].isnull()) | (Vuelos_DF['Bookings'].isnull())]
Vuelos_2425.head()

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings
2,6cfa1bbaa44f08fc7d3061f034a6a5ce,XA-VBV,AW,AS,MX Amigos y Familia,Ciudad Principal,2024-02-16 17:10:00,2024-02-16 17:55:00,220,NaN,NaN
19,bb319ee8f62b5ae38e6f6da4dbff03cb,XA-VAV,BA,AB,Playa,Ciudad Principal,2024-01-12 08:20:00,2024-01-12 09:20:00,186,NaN,NaN
22,d77570d39116f81dbb619c5225dd0572,NaN,AK,BO,MX Amigos y Familia,Playa,2024-05-18 14:10:00,2024-05-18 16:15:00,180,NaN,NaN
25,85d3b182431d323b856e50e249689981,XA-VIY,AT,AI,Playa,Ciudad Principal,2024-03-18 10:30:00,2024-03-18 13:25:00,186,NaN,NaN
26,04e83b220f5513bd6cc636784dcddec6,XA-VXC,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2024-04-05 00:50:00,2024-04-05 04:45:00,240,NaN,NaN

In [10]:
print('La fecha Departure del primer vuelo en 2023: ',Vuelos_2425['STD'].min())
print('La fecha Departure del último vuelo en 2023: ',Vuelos_2425['STD'].max())
print('La fecha Arrival del primer vuelo en 2023: ',Vuelos_2425['STA'].min())
print('La fecha Arrival del último vuelo en 2023: ',Vuelos_2425['STA'].max())

La fecha Departure del primer vuelo en 2023:  2024-01-01 00:05:00
La fecha Departure del último vuelo en 2023:  2025-02-28 06:05:00
La fecha Arrival del primer vuelo en 2023:  2024-01-01 05:05:00
La fecha Arrival del último vuelo en 2023:  2025-02-28 07:35:00

In [11]:
Vuelos_2425.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123525 entries, 2 to 245752
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Flight_ID         123525 non-null  object
 1   Aeronave          43637 non-null   object
 2   DepartureStation  123525 non-null  object
 3   ArrivalStation    123525 non-null  object
 4   Destination_Type  123525 non-null  object
 5   Origin_Type       123525 non-null  object
 6   STD               123525 non-null  object
 7   STA               123525 non-null  object
 8   Capacity          123525 non-null  int64
 9   Passengers        0 non-null       float64
 10  Bookings          0 non-null       float64
dtypes: float64(2), int64(1), object(8)
memory usage: 11.3+ MB