In [1]:
# Paquetería
# Herramientas matemáticas
import numpy as# Lectura de vuelos np

# Lectura de .csv a Dataframes
import pandas as pd

# Herramienta para hacer copias de Dataframes sin conflictos
import copy

# Lectura de vuelos

In [2]:
Ventas_DF = pd.read_csv('../data/Sales TEC_Valid.csv')

In [6]:
# Vista inicial de los datos de Vuelos
Ventas_DF.head()

,Flight_ID,ProductType,ProductName,Quantity,TotalSales
0,a05290288259526edd3601160b10e1de,Botanas,Carne Seca Habanero,1,55.0
1,08f6f97437df8db101b050f1110be656,Licores,Jw Red Label,2,240.0
2,4e09c949826a77207868412baeff6d30,Licores,Jack And Coke,8,576.0
3,c3e1568fe46c68d3174681d322d412b3,Licores,Jw Red Label,2,240.0
4,7396e43fb94caca87add7bb1f1611e7e,Vivabus,Vivabus_Gdl.-Nvo. C. Camionera,4,320.0

In [8]:
# Nombres de las columnas ¿Con qué datos contamos?
Ventas_DF.columns

Index(['Flight_ID', 'ProductType', 'ProductName', 'Quantity', 'TotalSales'], dtype='object')

In [9]:
# ¿La base de datos está completa?
Ventas_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564361 entries, 0 to 2564360
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   Flight_ID    object
 1   ProductType  object
 2   ProductName  object
 3   Quantity     int64
 4   TotalSales   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 97.8+ MB

In [12]:
Ventas_DF.describe()

           Quantity    TotalSales
count  2.564361e+06  2.564361e+06
mean   2.519319e+00  1.110370e+02
std    2.829032e+00  1.736604e+02
min    1.000000e+00 -3.234000e+03
25%    1.000000e+00  4.500000e+01
50%    2.000000e+00  8.000000e+01
75%    3.000000e+00  1.440000e+02
max    8.500000e+01  1.290000e+04